* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Helvetica-Neue", Helvetica, sans-serif;
}

body {
    background: #ed4853;
    color: #fff;
    min-width: 100%;
    min-height: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    font-size: 26px;
}

a {
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main img {
    display: block;
    max-width: 400px;
    width: 100%;
    border: 5px solid #fff;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
}

footer p, main img, h1 {
    margin: 0 30px;
}

@media screen and (max-width: 1065px) {
    main img {
        margin-bottom: 30px;
    }

    footer p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 430px) {
    body {
         min-width: auto;
         min-height: auto;
    }
    .wrapper {
        margin: 20px;
        position: static;
    }

    h1 {
        margin: 0 0 30px;
    }

    footer p {
        margin: 0 0 10px;
    }
}
